
<div class="row">

  <div class="search hidden-xs hidden-sm">

    <tags-input ng-model="main.chosenTags" display-property="name">
      <auto-complete source="main.tags"></auto-complete>
    </tags-input>
  </div>
  <h3 ></h3>

<div class="table-container">
  <table class="table table-filter">
    <tbody>
    <tr data-status="pagado" ng-repeat="question in main.questions | tagFilter:main.chosenTags">
      <td>

      </td>
      <td>
        <a href="javascript:;" class="star">
          <i class="glyphicon glyphicon-star"></i>
        </a>
      </td>
      <td>
        <div class="media" >
          <a href="#" class="pull-left">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
          </a>
          <div class="media-body">
            <span class="media-meta pull-right">Febrero 13, 2016</span>
            <h4 class="title">
              {{question.question}}
              <span class="pull-right pagado">(Pagado)</span>
            </h4>

            <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p>
              <div class="item-content-block tags">

                <a href="#" ng-repeat="tag in question.tags">{{tag.name}}</a>
              </div>
            <div class="expand">
              <p>
              <div  class="label" ng-if="question.expanded==false" data-toggle="collapse" data-target="#{{question.question}}" ng-click="question.expanded=true;main.Question.loadAnswers(question);">
                <span    class="glyphicon glyphicon-chevron-down" ></span>Show answers
              </div>
              <div class="label" ng-if="question.expanded==true" data-toggle="collapse" data-target="#{{question.question}}"  ng-click="question.expanded=false;">
                <span    class="glyphicon glyphicon-chevron-up" ></span>Hide answers

              </div>
            <div class="label label-info questionAmount">
                    {{question.answers.length}}</div>
            </div></p>
            </div>




            <div class="row answer collapse" id="{{question.question}}">
              <div class="panel panel-default widget">
                <div class="panel-heading">
                  <span class="glyphicon glyphicon-comment"></span>
                  <h3 class="panel-title">
                    Recent Answers</h3>

                <div class="panel-body">
                  <ul class="list-group">
                    <li class="list-group-item"  ng-repeat="answer in question.answers">
                      <div class="row">
                        <div class="col-xs-2 col-md-1">
                          <img src="images/user2.png" class="img-circle img-responsive" alt="" /></div>
                        <div class="col-xs-8 col-md-9">
                          <div>
                            <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                             Title</a>
                            <div class="mic-info">
                              By: <a href="#">Bhaumik Patel</a> on 2 Aug 2013
                            </div>
                          </div>
                          <div class="comment-text">
                            {{answer.content}}
                          </div>
                          <div class="action">
                            <button type="button" class="btn btn-primary btn-xs" title="Edit">
                              <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" title="Approved">
                              <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" title="Delete">
                              <span class="glyphicon glyphicon-trash"></span>
                            </button>
                          </div>
                        </div>
                        <div class="col-xs-2 col-md-2">
                          <div class="rate">
                            <div class="btn-group-vertical pull-right">
                            <button type="button" class="btn btn-primary btn-xs" title="Edit">
                              <span class="glyphicon glyphicon-plus"></span>
                            </button>
                              <button type="button" class="btn  btn-xs" title="Score">
                                <span >{{answer.grade}}</span>
                              </button>
                            <button type="button" class="btn btn-success btn-xs" title="Approved">
                              <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>

    </tbody>
  </table>
</div>
</div>

